@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat&family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background: url(/photo/BG.png) center / cover no-repeat;
    width: 100%;
    height: 100vh;
}

header{
    background: url(/photo/Vector\ 2.png) center / cover no-repeat;
    width: 100%;
    height: 100vh;
}

.nav{
    display: flex;
    width: 90%;
    padding: 15px 5%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 999;
}
.nav h1{
    margin: 0;
    color: white;
    font-weight: 100;
    font-size: 30px;
}
ul{
    margin: 0%;
    padding: 0;
    list-style: none;
}
.list{
    display: flex;
    align-items: center;
    padding: 0 5%;

}
.list li{
    margin: 0 35px;
}

.list li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    
}
.list li a:hover{
    color: #d296fd;
}
.active{
    color: white !important;
}
.active::before{
    content: '';
    width: 100%;
    height: 1px;
    bottom: -3px;
    background-color: white;
    position: absolute;
    transition: 0.3s;
}
.btn{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    
}
.btn1{
    color: white;
    font-family: Comfortaa;
    background:rgba(0, 0, 0,0);
    border: none;
    font-size: 13px;
    cursor: pointer;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 36px;
    border-radius: 20px;
    border: none;
    font-size: 13px;
    font-family: Comfortaa;
    color: #BB6DF3;
    font-weight: 700;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}
.btn2:hover{
    background-color: rgb(218, 218, 218);
}
.line{
    background: url(/photo/Vector\ 3.png) center / cover no-repeat;
    width: 100%;
    height: 100vh;
    opacity: 1;
}
.burger{
    display: none;
}

@media screen and (max-width:1017px){
    .list{
        display: none;
    }
    .btn{
        display: none;
    }
    .burger{
        display: block;
        color: white;
        font-size: 25px;
    }
}
@media screen and (max-width:1024px){
    .btn2{
        width: 100px;
        align-items: center;   
    }
}
@media screen and (max-width:768px){
    .burger{
        font-size: 30px;
    }
}

/* HEADER-BANNER */

.header_banner{
    width: 90%;
    padding: 70px 5%;
    position: absolute;
    top: 20%;
}
.header_content{
    display: flex;
    justify-content: space-evenly;
}
.header_content div{
    width: 580px;
    height: 540px;
    margin-left: 60px;
}

.header_content div h1{
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3B668D;
    margin: 0%;
}

.header_content div p{
    border-bottom: 2px solid #3B668D;
    margin-top: 20px;
    text-transform: uppercase;
    margin: 0%;
    margin-top: 10px;
    font-size: 24px;
    color: #3B668D;
    
}
.header_content div h6{
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500 ;
    color: #3B668D;
}

.header_content div h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0%;
    margin-top: 15px;
    font-weight: 400;
    color: #2B4964;
}
.header_content div button{
    padding: 20px 35px;
    margin-top: 20px;
    background: url(/photo/button-bg.png) center /cover;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
.header_content img{
    width: 650px;
    height: 600px;
    object-fit: contain;
}
@media screen and (max-width:1300px) {
    .header_banner{
        padding: 5px 5%;
    }
    .header_content div{
        width: 380px;
        height: 340px;
    }
    .header_content div h1{
        font-size: 55px;
    }
    .header_content img{
        width: 550px;
        height: 500px;
    }
}
@media screen and (max-width:1024px){
    .header_content img{
        width: 450px;
        height: 400px;
    }
    .header_content div h1{
        font-size: 45px;
    }
    .header_content div p{
        font-size: 20px;
    }
    .header_content div h6{
        font-size: 22px;
    }
}
@media screen and (max-width:768px){
    .header_banner{
        width: 70%;
        justify-content: center;
    }
    .header_content{
        flex-direction: column-reverse; 
        margin-left: 100px;
    }
    .header_content img{
        width: 400px;
        height: 350px;
        margin-left: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width:425px){
    
    .nav{
        justify-content:space-between;
    }    
    .header_content{
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin: 0%;
    }
    .header_content div{
        margin-left: 0px;
        margin: 0;
    }
    .header_content img{
        width: 400px;
        height: 450px;
        object-fit: contain;
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0;
        margin: 0%;
    }
}

